.title {
    &__fz13 {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
    }
    &__fz14 {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
    }
    &__fz16 {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }
    &__fz36 {
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
    }
}