@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'base/variables';
@import 'base/mixins';
@import 'base/title';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
};

.container {
    width: 1110px;
    margin: 0 auto;
};

@import 'blocks/promo';
@import 'blocks/subpromo';
@import 'blocks/restoran';
@import 'blocks/about';